<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850845870714-ijds8q6i0c0hp2nosh8vtb19im7q5l1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850845870714-ijds8q6i0c0hp2nosh8vtb19im7q5l1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850845870714-rv7ut8r4137ao2q49rqi6kp93qgcvle4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQfhuvvi-Y5ow1twfFka7vzbbclO5mRzY</string>
	<key>GCM_SENDER_ID</key>
	<string>850845870714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ctfit.app</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-c9e44</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-c9e44.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850845870714:ios:5167c4399763cecc91e9c3</string>
</dict>
</plist>